<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách</title>
</head>
<body>

<h2>Danh sách khách hàng</h2>

<a th:href="@{/create}">Thêm mới khách hàng</a>
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Họ</th>
        <th>Tên</th>
        <th>Email</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ</th>
        <th>Ảnh</th>
        <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.address}"></td>
        <td>
            <img th:src="@{${customer.fileImage}}" alt="Ảnh" style="width:100px; height:100px;">
        </td>
        <td>
            <a th:href="@{'/edit/' + ${customer.id}}">Sửa</a>
            <a th:href="@{'/delete/' + ${customer.id}}">Xóa</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
